<%= render "partials/header" %>

<script src="https://d3js.org/d3.v4.min.js"></script>

<div class="container">
  <div class="jumbotron text-center">
    <h1>Naked Makers</h1>
    <% if flash[:notice] %>
      <div class = 'alert alert-success'><%= flash[:notice]%></div>
    <%end%>
    <div class="text-center">
      <form action = '/responses/new'>
        <input type='submit' value = 'Submit Data' class="btn btn-primary">
      </form>
    </div>
    <h2>Languages Makers grads are using:</h2>
    <div class="chart"></div>
    <h2>Makers grads found jobs here:</h2>
    <div class="chart2"></div>
</div>
</div>

<script src='app/javascripts/languageBubbles.js'></script>
<script src='app/javascripts/locationmapping.js'></script>
